@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0.5rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gram_logo {
  display:inline-flex;
  margin-left: 28px;
}

.card {
  padding: 2em;
}

.column {
  margin: 30px 0px 0px 0px;
  display: inline-flex;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-size: 40px;
  vertical-align: middle;
  flex-direction: column;
  font-style: bold;
}

.fun-text {
  font-family: "Schoolbell", cursive;
  font-weight: 200;
  font-style: normal;
}

.parent {
  display: flex;
  flex-direction: row;  
}

.read-the-docs {
  color: #888;
}

.rowUsers {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

/* Create two equal columns that sits next to each other */
.columnUsers {
  flex: 25%;
  padding: 0 15px;
}

.another-one {
  display: 'flex';
  flex-direction: 'row'; 
  width: '25%'; 
  gap: '50px'
}

.polaroid {
  width: 33%;
  float: left;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  /*border: 1px solid rgb(38, 38, 38);*/
  background-color: rgb(241, 241, 229);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  padding: 0px 0px 50px 0px;
  text-align: left;
}

.left_side {
  margin-top: 10px;
  margin: 0 1.5%;
  width: 70%;
}

.mutual_friends_column {
  clear: left;
  margin: 0 1.5%;
  width: 30%;
  float: right;
  clear: row;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 80px; 
}

.friend_outer {
  float: right;
  display: inline;
  background-color: rgb(241, 241, 229);
  font-family:"Schoolbell", cursive;
  font-size: 20px;
  border-radius: 5px;
  height: 20%;
  width: fit-content;
  margin-bottom: 10px;
  padding: 0.6% 0% 0.6% 0.9%;
}

.friend_pic {
  display: flex;
  flex-direction: column;
  width: 19.5%;
  float: left;
  border: 0.5px solid rgb(45, 45, 45);
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 5%;
  margin-top: 1%;
}

.friend_info {
  float: left;
  font-family:"Schoolbell", cursive;
  font-size: 20px;
  margin-right: 25px;
}

.recent_posts_row {
  display: block;

  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}

.post_outer {
  display: inline-block;
  flex-flow: row wrap;
  width: 20%;
  border-radius: 5px;
  font-family: "Schoolbell", cursive;
  font-size: 20px;
  background-color: rgb(241, 241, 229);
  margin-left: 25px;
  margin-right: 25px;
  padding: 0.6% 0% 0.6% 0.9%;
  text-align: left;
  
}

.post_photo {
  width: 94%;
  height: 94%;
  flex-direction: column;
  border: 0.5px solid rgb(45, 45, 45);
  border-radius: 5px;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 3%;
}

.profile_pic {
  text-align: left;
  width: 94%;
  height: 94%;
  border: 0.5px solid rgb(45, 45, 45);
  border-radius: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
}

.info_section {
  text-align: left;
  float: left;
  font-family: "Schoolbell", cursive;
  font-weight: 200;
  font-size: 30px;
  font-style: normal;
}

.club_button {
  float: left;
  display: inline-flex;
  flex-direction:column;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-size: 25px;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 8px;
  margin: 0.6%;
  background-color: rgb(242, 101, 34);
}

.like_button {
  float: left;
  flex-direction:column;
  padding: 10px 10px 6px 10px;
  vertical-align: center;
  font-family: "Schoolbell", cursive;
  width: fit-content;
  height: fit-content;
  background-color: rgb(241, 241, 231);
  border-color: rgb(50, 50, 50);
  border-radius: 9px;
}

.headers {
  text-align: left;
  font-family: "Schoolbell", cursive;
  font-weight: 200;
  font-size: 40px;
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-style: normal;
}

.friend_header {
  display: flex;
  text-align: center;
  flex-direction: column;
  float: right;
  font-family: "Schoolbell", cursive;
  font-weight: 200;
  font-size: 40px;
  margin-left: 325px;
  margin-bottom: 20px;
}
